html {
  font-family: sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0;
  background-color:#f2f2f2; }

header.navbar a.navbar-brand {
    display: inline-block;
    width: 140px;
    height: 55px;
    padding: 0.5rem 1rem;
    background-color: #fff;
    background-image: url("../img/logo2.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100px auto;
    border-bottom: 3px solid #4da6ff; 
}
header.navbar {
	position: relative;
	height: 55px;
	padding: 0;
	line-height: 55px;
	background-color: #fff;
	border-bottom: 3px solid #4da6ff; }

footer.footer {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	height: 50px;
	padding: 0 1rem;
	line-height: 50px;
	color: #263238;
	background: #a6a6a6;
	border-top: 3px solid #4da6ff; }

.card {
	position: relative;
	display: block;
	margin-bottom: 0.75rem;
	background-color: #fff;
	border: 0.5px solid #cfd8dc;
	box-shadow: 0 0 1px 2px #e6e6e6; }

.card-header {
	padding: 0.75rem 1.25rem;
	margin-bottom: 0;
	background-color: #eceff1; }

.card-footer {
	padding: 0.75rem 1.25rem;
	background-color: #fff; }

.card-block .tab-content {
  margin-top: 0;
  border: 0;
  box-shadow: 0 0 1px 2px #e6e6e6; }
